# Development files
.vscode
__pycache__/
__init__.py
*.pyc

# Other files
development/Notebook/yolov5_1/YoloAnnotation

# Model weights
development/Notebook/mask_rcnn_damage_0010.h5
*.h5
scripts/best.h5